<div class="page">
  <h1>Configuration</h1>
<section class="mb-16">
  <mat-form-field class="form-field" *ngIf="!(hasCredentials$ | async)">
    <input matInput placeholder="Enter your api key" type="text" [formControl]="keyControl">
  </mat-form-field>
  <p class="flex-line" *ngIf="hasCredentials$ | async">
    <mat-icon color="accent">key</mat-icon>
    <span class="emphasize">Your API key is in store</span>
  </p>
  <div class="flex-line">
    <a mat-button class="mat-elevation-z2" color="primary" href="https://beta.openai.com/account/api-keys" target="_blank">Get an API key</a>
    <button mat-button class="mat-elevation-z2" color="primary" (click)="saveKey()" *ngIf="!(hasCredentials$ | async)">Save</button>
    <button mat-button class="mat-elevation-z2" color="primary" (click)="changeKey()" *ngIf="hasCredentials$ | async">Modify</button>
  </div>
</section>
<section>
  <mat-form-field class="form-field mb-16">
    <input matInput placeholder="Enter a default location" type="text" [formControl]="folderPathControl">
    <mat-hint>If the folder has no files, you have to enter the path manually.</mat-hint>
  </mat-form-field>
  <div class="flex-line">
    <input type="file" hidden webkitdirectory mozdirectory msdirectory odirectory directory (change)="onFileChange($event)" #browseFile />
    <button mat-button class="mat-elevation-z2" color="primary" (click)="browseFile.click()">Browse</button>
    <button mat-button class="mat-elevation-z2" color="primary" (click)="saveFolderPath()">Save</button>
  </div>
</section>
</div>
