<div class="page">
  <div class="filter"></div>
  <div class="relative">
    <div class="scene">
      <div class="cubes">
        <div class="cube top">
          <div class="front"></div>
          <div class="back"></div>
          <div class="right"></div>
          <div class="left"></div>
          <div class="up"></div>
          <div class="down"></div>
        </div>
        <div class="cube bottom">
          <div class="front"></div>
          <div class="back"></div>
          <div class="right"></div>
          <div class="left"></div>
          <div class="up"></div>
          <div class="down"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="jumbotron">
      <h1 class="main-title mb-16">
        <span class="deep-purple">G</span>
        <span class="medium-purple">e</span>
        <span class="light-purple">p</span>
        <span class="medium-purple">e</span>
        <span class="light-purple">t</span>
        <span class="deep-purple">o</span>
      </h1>
      <h2 class="sub-title mb-32 deep-purple">A smart lazy note-taking assistant</h2>
      <p class="mb-16">Gepeto uses GPT-3 from OpenAI to generate the summary of an article.</p>
      <p class="mb-0">Preview in markdown format and export to your favorite note-manager files.</p>
    </div>
  </div>
</div>