:host {
  height: 100%;
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(1px);
  z-index: 1;
}

.relative {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.jumbotron {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  font-size: 1rem;
  background: linear-gradient(0deg, white 0%, transparent);
}

.jumbotron * {
  text-align: center;
}

.main-title {
  font-size: 4rem;
  line-height: 4rem;
}

.deep-purple {
  color: #4A148C;
}

.medium-purple {
  color: #7B1FA2;
}

.light-purple {
  color: #8E24AA;
}

.sub-title {
  font-style: italic;
}

.scene {
  position: relative;
  top: 25%;
  left: 0;
  display: grid;
  place-content: center;
  width: 100%;
  perspective: 800px;
  perspective-origin: 50% 50%;
}

.cubes {
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(5deg) rotateZ(0deg);
  animation: 30s linear infinite puppeteer;
}

@keyframes puppeteer {
  0% {
    transform: rotateX(15deg) rotateZ(0deg) rotateY(0deg);
  }
  33% {
    transform: rotateX(10deg) rotateZ(-15deg) rotateY(120deg);
  }
  66% {
    transform: rotateX(20deg) rotateZ(15deg) rotateY(240deg);
  }
  100% {
    transform: rotateX(15deg) rotateZ(0deg) rotateY(360deg);
  }
}

.cube {
  position: relative;
  width: 40px;
  height: 10px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
}

.front, .back {
  width: 100%;
  height: 100%;
  background-color: #B0BEC5;
}

.right, .left {
  width: 1000%;
  height: 100%;
  background-color: #ECEFF1;
  transform-origin: left;
}

.up, .down {
  width: 100%;
  height: 4000%;
  background-color: #CFD8DC;
  transform-origin: top;
}

.top {
  transform: rotateY(-45deg);
}

.bottom {
  transform: rotateY(45deg);
}

.front {
  transform: translateZ(-200px);
}

.back {
  transform: translateZ(200px);
}

.right {
  transform: translateZ(200px) rotateY(90deg);
}

.left {
  transform: translateZ(200px) translateX(40px) rotateY(90deg);
}

.up {
  transform: translateZ(200px) rotateX(-90deg);
}

.down {
  transform: translateZ(200px) translateY(10px) rotateX(-90deg);
}
