/* You can add global styles to this file, and also import other style files */

* { box-sizing: border-box; }
html, body { height: 100%; }
body { margin: 0; color: #333; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 { font-size: 2rem; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}

.main {
  height: 100%;
  padding-top: 36px;
}

.page {
  height: 100%;
  padding: 24px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.form-field {
  min-width: 150px;
  max-width: 450px;
  width: 100%;
}

.flex-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.emphasize {
  font-weight: 500;
}
